.thumb {
    width: 40px!important;
    height: 40px!important;
}

.circle {
    border: none;
}

.tweet {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid rgb(230,236,240);
}

.tweet:hover {
    background-color: rgb(245,248,250);
}

.name {
    font-size: 14px;
    font-weight: 700;
}

.username {
    text-decoration: none;
}

.tweet-body {
    font-size: 14px;
}

.tweet-image {
    max-width: 100%;
    max-height: 300px;
    border-radius: .75rem;
}

.tweet-actions {
    color: rgb(101, 119, 134);
}

.extra-space {
    flex-grow: 1.5; 
}