
<nav>
    <div class="nav-inner container">
        <div class="nav-inner flex align-items-stretch">
            <div class="item flex-basis-90 align-items-stretch flex">
                <a href="#" class="active item flex"><i class="mdi mdi-home"></i> Home</a>
                <a href="#" class="item flex"><i class="mdi mdi-flash-outline"></i> Moments</a>
                <a href="#" class="item flex"><i class="mdi mdi-bell-outline"></i> Notifications</a>
                <a href="#" class="item flex"><i class="mdi mdi-email-outline"></i> Messages</a>
            </div>
            <div class="item flex-basis-90 flex">
                <i class="fa fa-twitter fa-lg primary-color"></i>
            </div>
            <div class="item flex-basis-90 flex">
                <button (click)="switchUser()" class="btn btn-primary">Switch User</button>
            </div>
        </div>
    </div>
</nav>