
<app-header></app-header>
<div class="container">
    <div class="flex column align-items-stretch">
        <div class="item">
            <div class="flex align-items-stretch pt-3">
                <div class="item pr-3">
                    <div class="flex column align-items-stretch justify-content-start">
                        <div class="item"><app-user-card></app-user-card></div>
                        <div class="item pt-2 pb-2"><app-trends></app-trends></div>
                    </div>
                </div>
                <div class="item item-grow-2 pr-3">
                    <app-timeline></app-timeline>
                </div>
                <div class="item pr-3">
                    <div class="flex column align-items-stretch justify-content-start">
                        <div class="item"><app-follow-suggestions></app-follow-suggestions></div>
                        <div class="item pt-2 pb-2"><app-footer></app-footer></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
