<div class="background-white p-2">
    <div>
        <span class="title">Who to follow</span>
        · <a href="#" class="btn-link"><small>Refresh</small></a>
        · <a href="#" class="btn-link"><small>View all</small></a>
    </div>
    <div class="pt-2">
        <app-follow-list></app-follow-list>
    </div>
</div>

<div class="background-white footer">
    <a href="#" class="btn-link">
        <small>
            <i class="mdi mdi-account-multiple"></i> Find people you know
        </small>
    </a>
</div>